<form method="post" action="/admin/categories/create">
    <div class="form-group">
        <label >Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
