<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header logo -->
                        <a href="/" class="header__logo">
                            <img src="/images/logo.svg" alt="">
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header__nav">
                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a href="/" class="header__nav-link">Home</a>
                            </li>
                            <!-- end dropdown -->

                            <!-- dropdown -->
                            <!-- end dropdown -->

                            <li class="header__nav-item">
                                <a href="/movies" class="header__nav-link">Movies</a>
                            </li>

                            <li class="header__nav-item">
                                <a href="/movies/newReleases" class="header__nav-link">This Year Releases</a>
                            </li>

                            <!-- dropdown -->

                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth">
                            <button class="header__search-btn" type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>

                            <!-- dropdown -->

                            {{#if login}}
                            <ul class="header__nav">
                                <li class="header__nav-item">
                                    <a href="/user/profile" class="header__nav-link">Profile</a>
                                </li>
                            </ul>
                                <a href="/user/logout" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                    <span>LOGOUT</span>
                                </a>

                            {{else}}
                                <a href="/user/login" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                    <span>SIGN IN</span>
                                </a>
                            {{/if}}
                        </div>
                        <!-- end header auth -->

                        <!-- header menu btn -->
                        <button class="header__btn" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- end header menu btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header search -->
    <form action="#" class="header__search">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__search-content">
                        <input type="text" placeholder="Search for a movie, TV Series that you are looking for">

                        <button type="button">search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end header search -->
</header>