<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/app/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/app/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/stylesheets/app/nouislider.min.css">
    <link rel="stylesheet" href="/stylesheets/app/ionicons.min.css">
    <link rel="stylesheet" href="/stylesheets/app/plyr.css">
    <link rel="stylesheet" href="/stylesheets/app/photoswipe.css">
    <link rel="stylesheet" href="/stylesheets/app/default-skin.css">
    <link rel="stylesheet" href="/stylesheets/app/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-touch-icon-144x144.png">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>{{title}}</title>

</head>