<!DOCTYPE html>
<html lang="en">

<!-- header -->
{{> header}}
<!-- header -->

<!-- Mirrored from dmitryvolkov.me/demo/flixgo1.1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Mar 2019 12:56:23 GMT -->
<body class="body">

<!-- appHeader -->
{{> appHeader}}
<!-- end appHeader -->

<!-- content -->
{{{body}}}
<!-- end Content -->
{{>partners}}
<!-- footer -->
{{> footer}}
<!-- end footer -->

<!-- JS -->
{{> scripts}}

</body>
</html>