<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dmitryvolkov.me/demo/flixgo1.1/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Mar 2019 12:58:23 GMT -->
{{>header}}
<body class="body">

<div class="sign section--bg" data-bg="/images/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">

                    <!-- authorization form -->
                    <form id="signUpForm" method="post" action="/user/resetPassword/{{token}}" class="sign__form" >
                        <input type="hidden" name="_method" value="PUT">
                        <a href="index-2.html" class="sign__logo">
                            <img src="/images/logo.svg" alt="">
                        </a>

                        <div class="sign__group">
                            <input type="password" id="pass" class="sign__input" placeholder="Password"  name="password">
                        </div>
                        <div class="sign__group">
                            <input type="password" class="sign__input" placeholder="Confirm Password"  name="confirmPassword">
                        </div>
                        <span id="result"></span>
                        {{>successAlert}}
                        {{> errorAlert}}
                        <input type="hidden" value="{{csrfToken}}"name="_csrf">
                        <button class="sign__btn" type="submit">Reset Password</button>
                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
{{>scripts}}

</body>
<!-- Mirrored from dmitryvolkov.me/demo/flixgo1.1/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Mar 2019 12:58:23 GMT -->
</html>