<!DOCTYPE html>
<html lang="en">
{{> header}}
<body class="body">

<div class="sign section--bg" data-bg="/images/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- registration form -->
                    <form method="post" action="/user/signup" class="sign__form">
                        <a href="index-2.html" class="sign__logo">
                            <img src="/images/logo.svg" alt="">
                        </a>

                        <div class="sign__group">
                            <input type="text" class="sign__input" placeholder="Name" name="name">
                        </div>

                        <div class="sign__group">
                            <input type="text" class="sign__input" placeholder="Email" name="email">
                        </div>

                        <div class="sign__group">
                            <input type="password" class="sign__input" placeholder="Password" name="password">
                        </div>

                        <div class="sign__group sign__group--checkbox">
                            <input id="remember" name="remember" type="checkbox" checked="checked" required>
                            <label for="remember">I agree to the <a href="#">Privacy Policy</a></label>
                        </div>
                        <input type="hidden" value="{{csrfToken}}"name="_csrf">
                        {{> errorAlert}}
                        <button class="sign__btn" type="submit">Sign up</button>

                        <span class="sign__text">Already have an account? <a href="/user/login">Login !</a></span>
                    </form>
                    <!-- registration form -->
                </div>
            </div>
        </div>
    </div>
</div>
{{> scripts}}
</body>
</html>