<form method="post" action="/admin/subscriptions/create">
    <div class="form-group">
        <label >Type</label>
        <input type="text" class="form-control" id="inputType" placeholder="type" name="type">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Duration</label>
        <input type="text" class="form-control" name="duration" id="exampleInputDuration" aria-describedby="emailHelp" placeholder="duration" >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Price</label>
        <input type="text" class="form-control" id="exampleInputPrice" name="price" placeholder="price">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Availability</label>
        <input type="text" class="form-control" id="exampleInputAvailibility" name="availability" placeholder="availability">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Support</label>
        <input type="text" class="form-control" id="exampleInputSupport" name="support" placeholder="support">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
